<div
  class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar"
>
  <div class="app-header header-shadow">
    <div class="app-header__logo">
      <div class="logo-src"></div>
      <div class="header__pane ml-auto">
        <div>
          <button
            type="button"
            class="hamburger close-sidebar-btn hamburger--elastic"
            data-class="closed-sidebar"
          >
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </button>
        </div>
      </div>
    </div>
    <div class="app-header__mobile-menu">
      <div>
        <button
          type="button"
          class="hamburger hamburger--elastic mobile-toggle-nav"
        >
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
      </div>
    </div>
    <div class="app-header__menu">
      <span>
        <button
          type="button"
          class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav"
        >
          <span class="btn-icon-wrapper">
            <i class="fa fa-ellipsis-v fa-w-6"></i>
          </span>
        </button>
      </span>
    </div>
    <div class="app-header__content">
      <div class="app-header-right">
        <div class="header-btn-lg pr-0">
          <div class="widget-content p-0">
            <div class="widget-content-wrapper">
              <div class="widget-content-left">
                <div class="btn-group">
                  <a
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    class="p-0 btn"
                  >
                    <img
                      width="42"
                      class="rounded-circle"
                      src="assets/images/avatars/1.jpg"
                      alt=""
                    />
                    <i class="icofont-rounded-down ml-2 opacity-8"></i>
                  </a>
                  <div
                    tabindex="-1"
                    role="menu"
                    aria-hidden="true"
                    class="rm-pointers dropdown-menu-lg dropdown-menu dropdown-menu-right"
                  >
                    <div class="dropdown-menu-header">
                      <div class="dropdown-menu-header-inner bg-info">
                        <div
                          class="menu-header-image opacity-2"
                          style="
                            background-image: url('assets/images/dropdown-header/city3.jpg');
                          "
                        ></div>
                        <div class="menu-header-content text-left">
                          <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                              <div class="widget-content-left mr-3">
                                <img
                                  width="42"
                                  class="rounded-circle"
                                  src="assets/images/avatars/1.jpg"
                                  alt=""
                                />
                              </div>
                              <div class="widget-content-left">
                                <div class="widget-heading">
                                  Alina Mcloughlin
                                </div>
                                <div class="widget-subheading opacity-8">
                                  A short profile description
                                </div>
                              </div>
                              <div class="widget-content-right mr-2">
                                <button
                                  class="btn-pill btn-shadow btn-shine btn btn-focus"
                                >
                                  Logout
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="scroll-area-xs" style="height: 150px">
                      <div class="scrollbar-container ps">
                        <ul class="nav flex-column">
                          <li class="nav-item-header nav-item">Activity</li>
                          <li class="nav-item">
                            <a href="javascript:void(0);" class="nav-link"
                              >Chat
                              <div class="ml-auto badge badge-pill badge-info">
                                8
                              </div>
                            </a>
                          </li>
                          <li class="nav-item">
                            <a href="javascript:void(0);" class="nav-link"
                              >Recover Password
                            </a>
                          </li>
                          <li class="nav-item-header nav-item">My Account</li>

                          <li class="nav-item">
                            <a href="javascript:void(0);" class="nav-link"
                              >Logs
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="widget-content-left ml-3 header-user-info">
                <div class="widget-heading">Alina Mclourd</div>
                <div class="widget-subheading">VP People Manager</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="app-header__mobile-menu">
    <div>
      <button
        type="button"
        class="hamburger hamburger--elastic mobile-toggle-nav"
      >
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>
  </div>
  <div class="app-header__menu">
    <span>
      <button
        type="button"
        class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav"
      >
        <span class="btn-icon-wrapper">
          <i class="fa fa-ellipsis-v fa-w-6"></i>
        </span>
      </button>
    </span>
  </div>

  <div class="app-main__inner">
    <div class="app-page-title">
      <div class="page-title-wrapper">
        <div class="page-title-heading d-flex justify-content-between">
          <div>
            Add College
            <div class="page-title-subheading">
              This is an example dashboard created using build-in elements and
              components.
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- main content -->
    <div class="main-card mb-3 card">
      <div class="card-header card-title">
        <h4 class="mb-0">Add New College</h4>
      </div>
      <form [formGroup]="addCollegeForm" (ngSubmit)="submit()">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <a class="text-decoration-none">
                <div class="my_profile_box text-center">
                  <img
                    *ngIf="!imagePreviewUrl"
                    src="assets/images/upload-icon.png"
                    class="img-fluid"
                    alt="Upload Icon"
                  />
                  <img
                    *ngIf="imagePreviewUrl"
                    [src]="imagePreviewUrl"
                    class="img-fluid"
                    alt=""
                  />
                  <h2 class="mt-3 mb-0" *ngIf="!selectedFile">
                    Upload College Photo
                  </h2>
                  <h2 class="mt-3 mb-0" *ngIf="selectedFile">
                    {{ selectedFile.name }}
                  </h2>
                  <input
                    type="file"
                    class="files_type"
                    formControlName="ImagePath"
                    (change)="onFileSelected($event)"
                  />
                </div>
              </a>
              <div
                class="text-danger"
                *ngIf="
                  addCollegeForm.get('ImagePath')?.invalid &&
                  (addCollegeForm.get('ImagePath')?.dirty ||
                    addCollegeForm.get('ImagePath')?.touched) &&
                  addCollegeForm.get('ImagePath')?.hasError('required')
                "
              >
                <span class="error">Image is required</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="position-relative form-group">
                <label for="exampleEmail11" class="">College Name</label>
                <input
                  placeholder="College name"
                  type="text"
                  class="form-control"
                  formControlName="collegeName"
                />
              </div>
              <div
                class="text-danger"
                *ngIf="
                  addCollegeForm.get('collegeName')?.invalid &&
                  (addCollegeForm.get('collegeName')?.dirty ||
                    addCollegeForm.get('collegeName')?.touched) &&
                  addCollegeForm.get('collegeName')?.hasError('required')
                "
              >
                <span class="error">Name is required</span>
              </div>
              <div
                class="text-danger"
                *ngIf="addCollegeForm.get('collegeName')?.hasError('minlength')"
              >
                <span class="error">Minimum 3 letters required</span>
              </div>
              <div
                class="text-danger"
                *ngIf="addCollegeForm.get('collegeName')?.hasError('maxlength')"
              >
                <span class="error">Maximum length is 50</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="position-relative form-group">
                <label for="exampleEmail11" class="">College Code</label>
                <input
                  placeholder="College code"
                  type="text"
                  class="form-control"
                  formControlName="collegeCode"
                />
              </div>
              <div
                class="text-danger"
                *ngIf="
                  addCollegeForm.get('collegeCode')?.invalid &&
                  (addCollegeForm.get('collegeCode')?.dirty ||
                    addCollegeForm.get('collegeCode')?.touched) &&
                  addCollegeForm.get('collegeCode')?.hasError('required')
                "
              >
                <span class="error">College Code is required</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="position-relative form-group">
                <label for="exampleEmail11" class="">College Address</label>
                <input
                  placeholder="College address"
                  type="text"
                  class="form-control"
                  formControlName="Address1"
                />
              </div>
              <div
                class="text-danger"
                *ngIf="
                  addCollegeForm.get('Address1')?.invalid &&
                  (addCollegeForm.get('Address1')?.dirty ||
                    addCollegeForm.get('Address1')?.touched) &&
                  addCollegeForm.get('Address1')?.hasError('required')
                "
              >
                <span class="error">College Address is required</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="position-relative form-group">
                <label for="exampleEmail11" class="">Country</label>
                <select
                  class="form-control"
                  placeholder="Select Country"
                  formControlName="CountryId"
                  (ngModelChange)="onCountrySelected($event)"
                >
                  <option value="">Select Country</option>
                  <option
                    *ngFor="let country of countryInfoList"
                    [value]="country.countryId"
                  >
                    {{ country.countryName }}
                  </option>
                </select>
              </div>
              <div
                class="text-danger"
                *ngIf="
                  addCollegeForm.get('CountryId')?.invalid &&
                  (addCollegeForm.get('CountryId')?.dirty ||
                    addCollegeForm.get('CountryId')?.touched) &&
                  addCollegeForm.get('CountryId')?.hasError('required')
                "
              >
                <span class="error">Country is required</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="position-relative form-group">
                <label for="exampleEmail11" class="">State</label>
                <select
                  class="form-control"
                  placeholder="Select State"
                  formControlName="StateId"
                  (ngModelChange)="onStateSelected($event)"
                >
                  <option value="">Select State</option>
                  <option
                    *ngFor="let state of stateInfoList"
                    [value]="state.stateId"
                  >
                    {{ state.stateName }}
                  </option>
                </select>
              </div>
              <div
                class="text-danger"
                *ngIf="
                  addCollegeForm.get('StateId')?.invalid &&
                  (addCollegeForm.get('StateId')?.dirty ||
                    addCollegeForm.get('StateId')?.touched) &&
                  addCollegeForm.get('StateId')?.hasError('required')
                "
              >
                <span class="error">State is required</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="position-relative form-group">
                <label for="exampleEmail11" class="">City</label>
                <select
                  class="form-control"
                  placeholder="Select City"
                  formControlName="CityId"
                >
                  <option value="">Select City</option>
                  <option
                    *ngFor="let city of cityInfoList"
                    [value]="city.cityId"
                  >
                    {{ city.cityName }}
                  </option>
                </select>
              </div>
              <div
                class="text-danger"
                *ngIf="
                  addCollegeForm.get('CityId')?.invalid &&
                  (addCollegeForm.get('CityId')?.dirty ||
                    addCollegeForm.get('CityId')?.touched) &&
                  addCollegeForm.get('CityId')?.hasError('required')
                "
              >
                <span class="error">City is required</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="position-relative form-group">
                <label for="exampleEmail11" class="">Contact Person</label>
                <input
                  placeholder="Contact Person"
                  type="text"
                  class="form-control"
                  formControlName="ContectPerson"
                />
              </div>
              <div
                class="text-danger"
                *ngIf="
                  addCollegeForm.get('ContectPerson')?.invalid &&
                  (addCollegeForm.get('ContectPerson')?.dirty ||
                    addCollegeForm.get('ContectPerson')?.touched) &&
                  addCollegeForm.get('ContectPerson')?.hasError('required')
                "
              >
                <span class="error">Contact Person is required</span>
              </div>
              <div
                class="text-danger"
                *ngIf="addCollegeForm.get('ContectPerson')?.hasError('minlength')"
              >
                <span class="error">Minimum 3 letters required</span>
              </div>
              <div
                class="text-danger"
                *ngIf="addCollegeForm.get('ContectPerson')?.hasError('maxlength')"
              >
                <span class="error">Maximum length is 20</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="position-relative form-group">
                <label for="exampleEmail11" class="">Contact Email</label>
                <input
                  placeholder="Contact Email"
                  type="text"
                  class="form-control"
                  formControlName="ContectEmail"
                />
              </div>
              <div
                class="text-danger"
                *ngIf="
                  addCollegeForm.get('ContectEmail')?.invalid &&
                  (addCollegeForm.get('ContectEmail')?.dirty ||
                    addCollegeForm.get('ContectEmail')?.touched) &&
                  addCollegeForm.get('ContectEmail')?.hasError('required')
                "
              >
                <span class="error">Contact Email is required</span>
              </div>
              <div
                class="text-danger"
                *ngIf="addCollegeForm.get('email')?.hasError('email')"
              >
                <span class="error">Provide a correct email</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="position-relative form-group">
                <label for="exampleEmail11" class="">Phone</label>
                <input
                  placeholder="Created by"
                  type="text"
                  class="form-control"
                  formControlName="ContectPhone"
                />
              </div>
              <div
                class="text-danger"
                *ngIf="
                  addCollegeForm.get('ContectPhone')?.invalid &&
                  (addCollegeForm.get('ContectPhone')?.dirty ||
                    addCollegeForm.get('ContectPhone')?.touched) &&
                  addCollegeForm.get('ContectPhone')?.hasError('required')
                "
              >
                <span class="error">Contact Phone is required</span>
              </div>
              <div
                class="text-danger"
                *ngIf="addCollegeForm.get('ContectPhone')?.hasError('maxlength')"
              >
                <span class="error">Maximum allowed length is 10</span>
              </div>
            </div>
            <div class="col-md-12">
              <div class="d-flex btn_form mt-3">
                <button type="submit" class="btn btn-primary mr-3">Save</button>
                <button type="button" class="btn btn-secondary">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!-- main content -->
  </div>
</div>
