
    <div class="app-main__inner">
        <div class="tabs-animation">
            <div class="mb-3 card">
                <div class="card-header-tab card-header">
                    <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                        <i class="header-icon lnr-charts icon-gradient bg-happy-green"> </i>
                        Portfolio Performance
                    </div>
                </div>
                <div class="no-gutters row">
                    <div class="col-sm-6 col-md-3 col-xl-3">
                        <div class="card no-shadow rm-border bg-transparent widget-chart text-left">
                            <div class="icon-wrapper rounded-circle">
                                <div class="icon-wrapper-bg opacity-10 bg-warning"></div>
                                <i class="icofont-users-alt-2 text-white"></i>
                            </div>
                            <div class="widget-chart-content" routerLink="/admin/applicant">
                                <div class="widget-subheading">Total Applicants</div>
                                <div class="widget-numbers">{{lengthOfApplicant}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-xl-3">
                        <div class="card no-shadow rm-border bg-transparent widget-chart text-left">
                            <div class="icon-wrapper rounded-circle">
                                <div class="icon-wrapper-bg opacity-9 bg-danger"></div>
                                <i class="icofont-building-alt text-white"></i>
                            </div>
                            <div class="widget-chart-content" routerLink="/admin/college">
                                <div class="widget-subheading">Total Colleges</div>
                                <div class="widget-numbers"><span>{{lengthOfTotalCollege}}</span></div>
                            </div>
                        </div>
                        <div class="divider m-0 d-md-none d-sm-block"></div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-xl-3">
                        <div class="card no-shadow rm-border bg-transparent widget-chart text-left">
                            <div class="icon-wrapper rounded-circle">
                                <div class="icon-wrapper-bg opacity-9 bg-success"></div>
                                <i class="icofont-ui-fire-wall text-white"></i>
                            </div>
                            <div class="widget-chart-content" routerLink="/admin/campus">
                                <div class="widget-subheading">Total Walk-In</div>
                                <div class="widget-numbers text-success"><span>{{lengthOfTotalWalk}}</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-xl-3">
                        <div class="card no-shadow rm-border bg-transparent widget-chart text-left">
                            <div class="icon-wrapper rounded-circle">
                                <div class="icon-wrapper-bg opacity-9 bg-primary"></div>
                                <i class="icofont-question text-white"></i>
                            </div>
                            <div class="widget-chart-content" routerLink="/admin/question">
                                <div class="widget-subheading">Total Questions</div>
                                <div class="widget-numbers text-primary"><span>{{lengthOfQuestion}}</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
