<div
  class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar"
>
  <div class="app-main__inner">
    <div class="app-page-title">
      <div class="page-title-wrapper">
        <div class="page-title-heading d-flex justify-content-between">
          <div>
            Add Client
            <div class="page-title-subheading">
              This is an example dashboard created using build-in elements and
              components.
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- main content -->
    <div class="main-card mb-3 card">
      <div class="card-header card-title">
        <h4 class="mb-0">Add New Clients</h4>
      </div>
      <div class="card-body">
        <form [formGroup]="addClientForm" (ngSubmit)="submit()">
          <div class="row">
            <div class="col-md-4">
              <div class="position-relative form-group">
                <label for="exampleEmail11" class="">Name</label>
                <input
                  placeholder="Enter name"
                  type="text"
                  class="form-control"
                  formControlName="name"
                />
              </div>
              <div
                class="text-danger"
                *ngIf="
                  addClientForm.get('name')?.invalid &&
                  (addClientForm.get('name')?.dirty ||
                    addClientForm.get('name')?.touched) &&
                  addClientForm.get('name')?.hasError('required')
                "
              >
                <span class="error">Name is required</span>
              </div>
              <div
                class="text-danger"
                *ngIf="addClientForm.get('name')?.hasError('minlength')"
              >
                <span class="error">Minimum length is 2</span>
              </div>
              <div
                class="text-danger"
                *ngIf="addClientForm.get('name')?.hasError('maxlength')"
              >
                <span class="error">Maximum length is 25</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="position-relative form-group">
                <label for="exampleEmail11" class="">Email</label>
                <input
                  placeholder="Email address"
                  type="text"
                  class="form-control"
                  formControlName="email"
                />
              </div>
              <div
                class="text-danger"
                *ngIf="
                  addClientForm.get('email')?.invalid &&
                  (addClientForm.get('email')?.dirty ||
                    addClientForm.get('email')?.touched) &&
                  addClientForm.get('email')?.hasError('required')
                "
              >
                <span class="error">Email is required</span>
              </div>
              <div
                class="text-danger"
                *ngIf="addClientForm.get('email')?.hasError('email')"
              >
                <span class="error">Provide a correct email</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="position-relative form-group">
                <label for="exampleEmail11" class="">Phone</label>
                <input
                  placeholder="Phone"
                  type="text"
                  class="form-control"
                  formControlName="phone"
                />
              </div>
              <div
                class="text-danger"
                *ngIf="
                  addClientForm.get('phone')?.invalid &&
                  (addClientForm.get('phone')?.dirty ||
                    addClientForm.get('phone')?.touched) &&
                  addClientForm.get('phone')?.hasError('required')
                "
              >
                <span class="error">Phone is required</span>
              </div>
              <div
                class="text-danger"
                *ngIf="addClientForm.get('phone')?.hasError('maxlength')"
              >
                <span class="error">Maximum allowed length is 10</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="position-relative form-group">
                <label for="exampleEmail11" class="">Address</label>
                <input
                  placeholder="Address"
                  type="text"
                  class="form-control"
                  formControlName="address"
                />
              </div>
              <div
                class="text-danger"
                *ngIf="
                  addClientForm.get('address')?.invalid &&
                  (addClientForm.get('address')?.dirty ||
                    addClientForm.get('address')?.touched) &&
                  addClientForm.get('address')?.hasError('required')
                "
              >
                <span class="error">Address is required</span>
              </div>
              <div
                class="text-danger"
                *ngIf="addClientForm.get('address')?.hasError('maxlength')"
              >
                <span class="error">Maximum allowed length is 50</span>
              </div>
            </div>

            <div class="col-md-4">
              <div class="position-relative form-group">
                <label for="exampleEmail11" class="">Subscription Plan</label>
                <select
                  class="form-select form-control"
                  aria-label="Default select example"
                  formControlName="subscriptionPlan"
                >
                  <option selected>--Choose Plan--</option>
                  <option value="100">100</option>
                  <option value="200">200</option>
                </select>
              </div>
              <div
                class="text-danger"
                *ngIf="
                  addClientForm.get('subscriptionPlan')?.invalid &&
                  (addClientForm.get('subscriptionPlan')?.dirty ||
                    addClientForm.get('subscriptionPlan')?.touched) &&
                  addClientForm.get('subscriptionPlan')?.hasError('required')
                "
              >
                <span class="error">Subscription Plan is required</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="position-relative form-group">
                <label for="exampleEmail11" class="">UserName</label>
                <input
                  placeholder="Enter your email"
                  type="text"
                  class="form-control"
                  formControlName="username"
                />
              </div>
              <div
                class="text-danger"
                *ngIf="
                  addClientForm.get('username')?.invalid &&
                  (addClientForm.get('username')?.dirty ||
                    addClientForm.get('username')?.touched) &&
                  addClientForm.get('username')?.hasError('required')
                "
              >
                <span class="error">Username is required</span>
              </div>
              <div
                class="text-danger"
                *ngIf="addClientForm.get('username')?.hasError('email')"
              >
                <span class="error">Please provide a proper email</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="position-relative form-group">
                <label for="exampleEmail11" class="">Password</label>
                <div class="input-group">
                  <input
                    placeholder="Password"
                    type="{{ hidePassword ? 'password' : 'text' }}"
                    type="password"
                    class="form-control"
                    formControlName="password"
                  />
                  <div class="input-group-append">
                    <button
                      class="eye-button"
                      tabindex="-1"
                      (click)="togglePasswordVisibility()"
                    >
                      <img
                        src="../../../../../../assets/images/hide.png"
                        height="17px"
                        alt="Toggle password visibility"
                      />
                    </button>
                  </div>
                </div>
              </div>
              <div
                class="text-danger"
                *ngIf="
                  addClientForm.get('password')?.invalid &&
                  (addClientForm.get('password')?.dirty ||
                    addClientForm.get('password')?.touched) &&
                  addClientForm.get('password')?.hasError('required')
                "
              >
                <span class="error">Password is required</span>
              </div>
              <div
                class="text-danger"
                *ngIf="addClientForm.get('password')?.hasError('maxlength')"
              >
                <span class="error">Maximum allowed length is 15</span>
              </div>
              <div
                class="text-danger"
                *ngIf="addClientForm.get('password')?.hasError('minlength')"
              >
                <span class="error">Minimum required length is 6</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="position-relative form-group">
                <label for="exampleEmail11" class="">Confirm Password</label>
                <div class="input-group">
                <input
                  placeholder="Confirm Password"
                  type="{{ hideConfirmPassword ? 'password' : 'text' }}"
                  type="password"
                  class="form-control"
                  formControlName="confirmPassword"
                />
                <div class="input-group-append">
                    <button
                      class="eye-button"
                      tabindex="-1"
                      (click)="togglePasswordVisibility2()"
                    >
                      <img
                        src="../../../../../../assets/images/hide.png"
                        height="17px"
                        alt="Toggle password visibility"
                      />
                    </button>
                  </div>
            </div>
              </div>
              <div
                class="text-danger"
                *ngIf="
                  addClientForm.get('confirmPassword')?.invalid &&
                  (addClientForm.get('confirmPassword')?.dirty ||
                    addClientForm.get('confirmPassword')?.touched) &&
                  addClientForm.get('confirmPassword')?.hasError('required')
                "
              >
                <span class="error">Confirm Password is required</span>
              </div>
              <div class="text-danger">
                <div
                  *ngIf="
                    addClientForm.hasError('passwordMismatch') &&
                    (addClientForm.get('password')?.dirty ||
                      addClientForm.get('confirmPassword')?.dirty) &&
                    addClientForm.get('confirmPassword')?.touched
                  "
                >
                  <span class="error">Passwords do not match</span>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="d-flex btn_form mt-3">
                <button type="submit" class="btn btn-primary mr-3">Save</button>
                <button
                  type="button"
                  class="btn btn-secondary"
                  (click)="close()"
                >
                  Cancel
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- main content -->
  </div>
</div>
