<div
  class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar"
>
 
  <div class="app-main__inner">
    <!-- main content -->
    <div class="main-card mb-3 card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center mb-4">
          <h5 class="card-title mb-0">Colleges</h5>
          <a routerLink="/admin/college/add" class="btn btn-primary btn_blue"
            >Add New College</a
          >
        </div>
        <div class="table-responsive">
          <div
            class="top_filter d-flex align-items-center justify-content-between py-0 mb-4"
          >
            <div class="rounded-pill form_custom_inner d-flex">
              <div class="input-group size position-relative">
                <input
                  type="text"
                  placeholder="Search here College Contact Email Phone"
                  class="form-control border-2"
                  name="search"
                  [(ngModel)]="searchTerm" (ngModelChange)="onSearch()" 
                />
              </div>
            </div>
            <!-- <div class="rounded-pill form_custom_inner d-flex">
              <div
                class="input-group size position-relative"
                style="margin-right: 15px"
              >
                <select class="form-select form-control">
                  <option>All</option>
                  <option>Active</option>
                  <option>Inactive</option>
                </select>
              </div>
            
            </div> -->
          </div>
          <table class="mb-0 table table-striped">
            <thead>
              <tr>
                <th>College</th>
                <th>Contact Person</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Isactive</th>
                <th class="text-right">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let college of collegeList">
                <td>{{ college.collegeName }}</td>
                <td>{{ college.contectPerson }}</td>
                <td>{{ college.contectEmail }}</td>
                <td>{{ college.contectPhone }}</td>
                <td class="badge">
                 
                  <a
                    (click)="toggleActive(college.collegeId)"
                    [ngClass]="{
                      'active-link': college.isActive,
                      'inactive-link': !college.isActive
                    }"
                    >{{ college.isActive ? "Active" : "Inactive" }}</a
                  >
                </td>
                <td class="action_button text-right">
                  <a routerLink="/admin/college/edit/{{college.collegeId}}" class="edit"
                    ><i class="icofont-ui-edit"></i
                  ></a>
                  <a
                  (click)="deleteItem(college.collegeId)"
                    class="delete"
                    ><i class="icofont-ui-delete"></i
                  ></a>
                  <a
                    (click)="viewDetails(college.collegeId)" 
                    class="inactive"
                    ><i class="icofont-eye"></i
                  ></a>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="d-flex justify-content-between p-2">
            <ngb-pagination
              [collectionSize]="collectionSize"
              [(page)]="page"
              [pageSize]="pageSize"
              (pageChange)="getCollegePage($event)"
            >
            </ngb-pagination>
          
            <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="getCollectionPage()">
              <option [ngValue]="10">10 items per page</option>
              <option [ngValue]="20">20 items per page</option>
              <option [ngValue]="25">25 items per page</option>
            </select>
          </div>
        </div>

        
      </div>
    </div>
    <!-- main content -->
  </div>
</div>

<!-- User Client -->

<ngx-spinner
  bdColor="rgba(51, 51, 51, 0.8)"
  size="default"
  type="ball-scale-circle"
>
  <p class="basic"></p>
</ngx-spinner>
