<div
  class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar"
>
  <div class="app-main__inner">
    <!-- main content -->
    <div class="main-card mb-3 card">
      <div class="card-header card-title">
        <h4 class="mb-0">Edit Question</h4>
      </div>
      <div class="card-body">
        <form
          [formGroup]="editQuestionForm"
          (ngSubmit)="submit()"
          #myform="ngForm"
        >
          <div class="row">
            <div class="col-md-4">
              <div class="position-relative form-group">
                <label for="exampleEmail11" class=""
                  >Question Type<span aria-hidden="true" class="required2"> *</span></label
                >
                <select
                  class="form-select form-control"
                  formControlName="questionTypeId"
                >
                  <option value="">Select Question Type</option>
                  <option
                    *ngFor="let question of questionList"
                    [value]="question.questionTypeId"
                  >
                    {{ question.questionType1 }}
                  </option>
                </select>
              </div>
              <div
                class="text-danger"
                *ngIf="
                  (editQuestionForm.get('questionTypeId')?.invalid &&
                    (editQuestionForm.get('questionTypeId')?.dirty ||
                      editQuestionForm.get('questionTypeId')?.touched)) ||
                  (editQuestionForm.get('questionTypeId')?.hasError('required') &&
                    myform.submitted)
                "
              >
                <span class="error">Question type is required</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="position-relative form-group">
                <label for="exampleEmail11" class=""
                  >Section<span aria-hidden="true" class="required2"> *</span></label
                >
                <select
                  class="form-select form-control"
                  aria-label="Default select example"
                  formControlName="sectionId"
                >
                  <option value="">Select Section</option>
                  <option
                    *ngFor="let section of sectionList"
                    [value]="section.sectionId"
                  >
                    {{ section.section1 }}
                  </option>
                </select>
              </div>
              <div
                class="text-danger"
                *ngIf="
                  (editQuestionForm.get('sectionId')?.invalid &&
                    (editQuestionForm.get('sectionId')?.dirty ||
                      editQuestionForm.get('sectionId')?.touched)) ||
                  (editQuestionForm.get('sectionId')?.hasError('required') &&
                    myform.submitted)
                "
              >
                <span class="error">Section is required</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="position-relative form-group">
                <label for="exampleEmail11" class="">Group<span aria-hidden="true" class="required2"> *</span></label>
                <select
                  class="form-select form-control"
                  aria-label="Default select example"
                  formControlName="groupId"
                >
                  <option value="">Select Group</option>
                  <option
                    *ngFor="let group of groupList"
                    [value]="group.groupId"
                  >
                    {{ group.groupName }}
                  </option>
                </select>
              </div>
              <div
                class="text-danger"
                *ngIf="
                  (editQuestionForm.get('groupId')?.invalid &&
                    (editQuestionForm.get('groupId')?.dirty ||
                      editQuestionForm.get('groupId')?.touched)) ||
                  (editQuestionForm.get('groupId')?.hasError('required') &&
                    myform.submitted)
                "
              >
                <span class="error">Group is required</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="position-relative form-group">
                <label for="exampleEmail11" class="">Marks<span aria-hidden="true" class="required2"> *</span></label>
                <input
                  placeholder="Marks"
                  type="text"
                  class="form-control"
                  formControlName="marks"
                />
              </div>
              <div
                class="text-danger"
                *ngIf="
                  (editQuestionForm.get('marks')?.invalid &&
                    (editQuestionForm.get('marks')?.dirty ||
                      editQuestionForm.get('marks')?.touched)) ||
                  (editQuestionForm.get('marks')?.hasError('required') &&
                    myform.submitted)
                "
              >
                <span class="error">Marks is required</span>
              </div>
            </div>
            <div class="col-md-12">
              <div class="position-relative form-group">
                <label for="exampleEmail11" class=""
                  >Question<span aria-hidden="true" class="required2"> *</span></label
                >
                <textarea
                  class="form-control"
                  placeholder="Job Description"
                  rows="4"
                  formControlName="text"
                ></textarea>
              </div>
              <div
                class="text-danger"
                *ngIf="
                  (editQuestionForm.get('text')?.invalid &&
                    (editQuestionForm.get('text')?.dirty ||
                      editQuestionForm.get('text')?.touched)) ||
                  (editQuestionForm.get('text')?.hasError('required') &&
                    myform.submitted)
                "
              >
                <span class="error">Question is required</span>
              </div>
            </div>

            <div class="col-md-12">
              <div class="position-relative form-group">
                <div formArrayName="QuestionssoptionVm" *ngIf="optionArray">
                  <label for="exampleEmail11" class="">Options<span aria-hidden="true" class="required2"> *</span></label>
                  <div
                    *ngFor="let option of optionArray.controls; let i = index"
                    [formGroupName]="i"
                  >
                    <div>
                      <!-- Option fields -->
                      <div class="d-flex">
                        <input
                          type="text"
                          formControlName="optionText"
                          placeholder="Option Text"
                          class="form-control mt-2 col-md-4"
                        />
                        <input
                          type="file"
                          formControlName="imagepath"
                          placeholder="Image Path"
                          class="form-control mt-2 ml-2 col-md-4"
                        />
                        <input
                          type="checkbox"
                          formControlName="isCorrect"
                          class="m-2"
                        />
                      </div>
                    </div>
                  </div>
                  <div
                    class="text-danger"
                    *ngIf="
                      (editQuestionForm.get('QuestionssoptionVm')?.invalid &&
                        (editQuestionForm.get('QuestionssoptionVm')?.dirty ||
                          editQuestionForm.get('QuestionssoptionVm')
                            ?.touched)) ||
                      (editQuestionForm
                        .get('QuestionssoptionVm')
                        ?.hasError('required') &&
                        myform.submitted)
                    "
                  >
                    <span class="error">Question Option is required</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="d-flex btn_form mt-3">
              <button type="submit" class="btn btn-primary mr-3">Save</button>
              <button
                type="button"
                (click)="cancel()"
                class="btn btn-secondary"
              >
                Cancel
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- main content -->
  </div>
</div>
