<div class="app-container app-theme-white body-tabs-shadow">
    <div class="app-container">
        <div class="h-100 bg-plum-plate bg-animation">
            <div class="d-flex h-100 justify-content-center align-items-center">
                <div class="mx-auto app-login-box col-md-8">
                    <div class="app-logo-inverse mx-auto mb-3"></div>
                    <div class="modal-dialog w-100 mx-auto">
                        <div class="modal-content">
                            <form class="" [formGroup]="loginForm" (ngSubmit)="submitForm()">
                            <div class="modal-body">
                                <div class="login-logo">
                                    <img src="assets/images/admin-logo.png" class="d-block mx-auto" />
                                </div>
                                <div class="h5 modal-title text-center">
                                    <h4 class="mt-2">
                                        <div>Welcome back,</div>
                                        <span>Please sign in to your account below.</span>
                                    </h4>
                                </div>
                                    <div class="form-row">
                                        <div class="col-md-12">
                                            <div class="position-relative form-group">
                                                <input formControlName="email" id="exampleEmail" placeholder="Email here..." type="email"
                                                       class="form-control">
                                                       <div *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)"
                                                       class="error-message">
                                                       <span *ngIf="loginForm.controls['email'].errors?.['required']">
                                                           Username is required.
                                                       </span>
                                                       <div *ngIf="loginForm.controls['email'].errors?.['email']">Invalid email format</div>
                                                   </div>
                                              </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="position-relative form-group">
                                                <input formControlName="password" id="examplePassword" placeholder="Password here..."
                                                        type="{{ hidePassword ? 'password' : 'text' }}" type="password" class="form-control">
                                                       
                                                            <button
                                                              type="button"
                                                              class="eye-button"
                                                              tabindex="-1"
                                                              (click)="togglePasswordVisibility()"
                                                            >
                                                              <img
                                                                [src]="hidePassword ? '../../../../../../assets/images/hide.png' : '../../../../../../assets/images/show.png' "
                                                                height="17px"
                                                                alt="Toggle password visibility"
                                                              />
                                                            </button>
                                                       <div *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)"
                                                       class="error-message">
                                                       <span *ngIf="loginForm.controls['password'].errors?.['required']">
                                                           Password is required.
                                                       </span>
                                                   </div>
                                              </div>
                                        </div>
                                    </div>
                                    <div class="position-relative form-check">
                                        <input name="check" id="exampleCheck" formControlName="check" type="checkbox" class="form-check-input">
                                            <label for="exampleCheck"
                                            class="form-check-label">Keep me logged in</label></div>
                              
                            </div>
                            <div class="modal-footer clearfix">
                                <div class="float-left"><a href="javascript:void(0);"
                                        class="btn-lg btn btn-link">Reset Password</a></div>
                                <div class="float-right">
                                    <button class="btn btn-primary btn-lg" type="submit">Login</button>
                                </div>
                            </div>
                        </form>
                        </div>
                    </div>
                    <div class="text-center text-white opacity-8 mt-3">Copyright © 2023 Brain Technosys</div>
                </div>
            </div>
        </div>
    </div>
</div>