
    <div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
        
        <div class="app-main__inner">
            <div class="app-page-title">
                <div class="page-title-wrapper">
                    <div class="page-title-heading d-flex justify-content-between">
                        <div>Question
                            <div class="page-title-subheading">This is an example dashboard created using
                                build-in elements and components.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- main content -->
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <h5 class="card-title mb-0">Manage Question</h5>
                        <a routerLink="/admin/add-question" class="btn btn-primary btn_blue">Add New Question</a>
                    </div>
                    <div class="table-responsive">
                        <div
                        class="top_filter d-flex align-items-center justify-content-between py-0 mb-4"
                      >
                        <div class="rounded-pill form_custom_inner d-flex">
                          <div class="input-group size position-relative">
                            <input
                              type="text"
                              placeholder="Search here ..."
                              class="form-control border-2"
                              name="search"
                              value=""
                            />
                          </div>
                          <button type="button" class="btn btn-success ml-2">Search</button>
                        </div>
                        <div class="rounded-pill form_custom_inner d-flex">
                          <div
                            class="input-group size position-relative"
                            style="margin-right: 15px"
                          >
                            <select class="form-select form-control">
                              <option>All</option>
                              <option>Active</option>
                              <option>Inactive</option>
                            </select>
                          </div>
                        </div>
                      </div>
                        <table class="mb-0 table table-striped">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Question</th>
                                    <th>Question Type</th>
                                    <th>Marks</th>
                                    <th>Section</th>
                                    <th>Group</th>
                                    <th>Isactive</th>
                                    <th class="text-right">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let question of questionList">
                                    <td>{{question.questionId}}</td>
                                    <td>
                                        <div [innerHTML]="sanitizeHtml(question.text)"></div>
                                    </td>
                                    <td>{{question.questionTypeName}}</td>
                                    <td>{{question.marks}}</td>
                                    <td>{{question.questionSection}}</td>
                                    <td>{{question.questionGroup}}</td>
                                    <td class="badge">
                                        <a (click)="toggleActive(question)"
                                            [ngClass]="{ 'active-link': question.isActive, 'inactive-link': !question.isActive }">{{
                                                question.isActive ? 'Active' : 'Inactive' }}</a>
                                    </td >                                     
                                    <td class="action_button text-right">
                                        <a routerLink="/admin/edit-question/{{question.questionId}}" class="edit"><i class="icofont-ui-edit"></i></a>
                                        <a (click)="deleteItem(question.questionId)" class="delete"><i class="icofont-ui-delete"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="mt-4">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                              <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                  <span aria-hidden="true">&laquo;</span>
                                </a>
                              </li>
                              <li class="page-item"><a class="page-link" href="#">1</a></li>
                              <li class="page-item active"><a class="page-link" href="#">2</a></li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                              <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                  <span aria-hidden="true">&raquo;</span>
                                </a>
                              </li>
                            </ul>
                          </nav>
                    </div>
                </div>
            </div>
            <!-- main content -->
        </div>

    </div>
	





    <ngx-spinner
    bdColor="rgba(51, 51, 51, 0.8)"
    size="default"
    type="ball-scale-circle"
  >
    <p class="basic"></p>
  </ngx-spinner>

 