<div
  class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar"
>
  <div class="app-main__inner">
    
    <!-- main content -->
    <div class="main-card mb-3 card">
      <div class="card-header card-title">
        <h4 class="mb-0">Edit User</h4>
      </div>
      <div class="card-body">
        <form [formGroup]="editForm" (ngSubmit)="submit()" #myform="ngForm">
          <div class="row">
            <div class="col-md-4">
              <div class="position-relative form-group">
                <label for="exampleEmail11" class="">Name<span aria-hidden="true" class="required2"> *</span></label>
                <input
                  placeholder="Enter Name"
                  type="text"
                  class="form-control"
                  formControlName="name"
                />
              </div>
              <div
            class="text-danger"
            *ngIf="
              (editForm.get('name')?.invalid &&
                (editForm.get('name')?.dirty ||
                  editForm.get('name')?.touched)) ||
              (editForm.get('name')?.hasError('required') &&
                myform.submitted)
            "
          >
            <span class="error">Name is required</span>
          </div>
          <div
              class="text-danger"
              *ngIf="editForm.get('name')?.hasError('pattern')"
            >
              <span class="error">Only Alphabets are allowed</span>
            </div>
            
            </div>
            <div class="col-md-4">
              <div class="position-relative form-group">
                <label for="exampleEmail11" class="">Email<span aria-hidden="true" class="required2"> *</span></label>
                <input
                  placeholder="Email address"
                  type="text"
                  class="form-control"
                  formControlName="email"
                />
              </div>
              <div
            class="text-danger"
            *ngIf="
              (editForm.get('email')?.invalid &&
                (editForm.get('email')?.dirty ||
                  editForm.get('email')?.touched)) ||
              (editForm.get('email')?.hasError('required') &&
                myform.submitted)
            "
          >
            <span class="error">Email is required</span>
          </div>
          <div
            class="text-danger"
            *ngIf="editForm.get('email')?.hasError('pattern')"
          >
            <span class="error">Provide a correct email</span>
          </div>
            </div>
            <div class="col-md-4">
              <div class="position-relative form-group">
                <label for="exampleEmail11" class="">Phone<span aria-hidden="true" class="required2"> *</span></label>
                <input
                  placeholder="Phone"
                  type="text"
                  class="form-control"
                  formControlName="mobile"
                />
              </div>
              <div
            class="text-danger"
            *ngIf="
              (editForm.get('mobile')?.invalid &&
                (editForm.get('mobile')?.dirty ||
                  editForm.get('mobile')?.touched)) ||
              (editForm.get('mobile')?.hasError('required') &&
                myform.submitted)
            "
          >
            <span class="error">Phone is required</span>
          </div>
          
          <div
            class="text-danger"
            *ngIf="editForm.get('mobile')?.hasError('pattern')"
          >
            <span class="error">Only Numbers are allowed</span>
          </div>
          
            </div>
            <div class="col-md-12">
              <div class="d-flex btn_form mt-3">
                <button type="submit" class="btn btn-primary mr-3">Update</button>
                <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- main content -->
  </div>
</div>
