
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
       
        <div class="app-main__inner">
           
            <!-- main content -->
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <h5 class="card-title mb-0">Manage Campus</h5>
                        <a routerLink="/admin/campus/add" class="btn btn-primary btn_blue">Add New Campus</a>
                    </div>
                    <div class="table-responsive">
                        <div
                        class="top_filter d-flex align-items-center justify-content-between py-0 mb-4"
                      >
                        <div class="rounded-pill form_custom_inner d-flex">
                          <div class="input-group size position-relative">
                            <input
                              type="text"
                              placeholder="Search here ..."
                              class="form-control border-2"
                              name="search"
                              [(ngModel)]="search" (ngModelChange)="onSearch()" 
                            />
                          </div>
                        </div>
                        <!-- <div class="rounded-pill form_custom_inner d-flex">
                          <div
                            class="input-group size position-relative"
                            style="margin-right: 15px"
                          >
                            <select class="form-select form-control">
                              <option>All</option>
                              <option>Active</option>
                              <option>Inactive</option>
                            </select>
                          </div>
                        
                        </div> -->
                        <div class="rounded-pill form_custom_inner d-flex">
                          <div
                            class="input-group size position-relative"
                          >
                          <mat-form-field class="mat-box">
                            <mat-label>Select Client</mat-label>
                            <mat-select  [formControl]="selectedOption" (selectionChange)="onSelected($event)">
                              <input [formControl]="inputOption" [(ngModel)]="val" (ngModelChange)="filterOptions()" placeholder="Search">
                              <mat-option [value]="">Select</mat-option>
                              <mat-option *ngFor="let client of filteredClientList" [value]="client.id">
                                {{client.name}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <button class="mat-button" (click)="resetSelect()" style="background: none;text-decoration: none;border: none; color: red;"><img class="cross" src="../../../../../../assets/images/close.png" alt=""></button>
                        
                        </div>
                      </div>
                        <table class="mb-0 table table-striped">
                            <thead>
                                <tr>
                                    <th>Campus Date</th>
                                    <th>Title</th>
                                    <th>Place</th>
                                    <th>Job Description</th>
                                    <th>Isactive</th>
                                    <th class="text-right">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let campus of campusList">
                                    <td>{{campus.walkInDate | date}}</td>
                                    <td>{{campus.title}}</td>
                                    <td>{{campus.address1}} {{campus.address2}} </td>
                                    <td>{{campus.jobDescription | slice:0:50}}</td>
                                    <td class="badge">
                                        <a (click)="toggleActive(campus.walkInID)"
                                            [ngClass]="{ 'active-link': campus.isActive, 'inactive-link': !campus.isActive }">{{
                                                campus.isActive ? 'Active' : 'Inactive' }}</a>
                                    </td>                                      <td class="action_button text-right">
                                        <a routerLink="/admin/campus/edit/{{campus.walkInID}}" class="edit"><i class="icofont-ui-edit"></i></a>
                                        <a (click)="deleteItem(campus.walkInID)" class="delete"><i class="icofont-ui-delete"></i></a>
                                        <a (click)="viewDetails(campus.walkInID)" class="inactive" ><i class="icofont-eye"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="d-flex justify-content-between p-2">
                          <ngb-pagination
                            [collectionSize]="collectionSize"
                            [(page)]="page"
                            [pageSize]="pageSize"
                            (pageChange)="getCampusPage($event)"
                          >
                          </ngb-pagination>
                        
                          <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="getCollectionPage()">
                            <option [ngValue]="10">10 Records</option>
                            <option [ngValue]="20">20 Records</option>
                            <option [ngValue]="50">50 Records</option>
                            <option [ngValue]="100">100 Records</option>
                          </select>
                        </div>
                    </div>

                    
                </div>
            </div>
            <!-- main content -->
        </div>

    </div>
	

<!-- User Client -->

<ngx-spinner
  bdColor="rgba(51, 51, 51, 0.8)"
  size="default"
  type="ball-scale-circle"
>
  <p class="basic"></p>
</ngx-spinner>




