<div
  class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar"
>
  <div class="app-main__inner">
    <div class="app-page-title">
      <div class="page-title-wrapper">
        <div class="page-title-heading d-flex justify-content-between">
          <div>
            Add Role
            <div class="page-title-subheading">
              This is an example dashboard created using build-in elements and
              components.
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- main content -->
    <div class="main-card mb-3 card">
      <div class="card-header card-title">
        <h4 class="mb-0">Add New Role</h4>
      </div>
      <div class="card-body">
        <form [formGroup]="addRoleForm" (ngSubmit)="submit()">
          <div class="row">
            <div class="col-md-4">
              <div class="position-relative form-group">
                <label for="exampleEmail11" class="">Role Name</label>
                <input
                  placeholder="Enter name"
                  type="text"
                  class="form-control"
                  formControlName="roleName"
                />
              </div>
              <div
                class="text-danger"
                *ngIf="
                  addRoleForm.get('roleName')?.invalid &&
                  (addRoleForm.get('roleName')?.dirty ||
                    addRoleForm.get('roleName')?.touched) &&
                  addRoleForm.get('roleName')?.hasError('required')
                "
              >
                <span class="error">Role Name is required</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="position-relative form-group">
                <label for="exampleEmail11" class="">Client</label>
                <select
                  class="form-select form-control"
                  aria-label="Default select example"
                  formControlName="client"
                >
                  <option selected>--Choose Client--</option>
                  <option
                    *ngFor="let client of clientList"
                    value="{{ client.id }}"
                  >
                    {{ client.name }}
                  </option>
                </select>
              </div>
              <div
                class="text-danger"
                *ngIf="
                  addRoleForm.get('client')?.invalid &&
                  (addRoleForm.get('client')?.dirty ||
                    addRoleForm.get('client')?.touched) &&
                  addRoleForm.get('client')?.hasError('required')
                "
              >
                <span class="error">Client is required</span>
              </div>
            </div>

            <div class="col-md-12"><label>Permission</label></div>
            <!-- <div class="col-md-3" *ngFor="let permissions of permissionList" >
              <div class="position-relative form-group"  >
                <label>
                    <input type="checkbox" formArrayName="permission" value="{{permissions.id}}">
                    {{permissions.permissionName}}
                </label>
              </div>
            </div> -->
               
                <div class="col-md-12" formArrayName="permission">
                  
                  
                   
                      <div class="col-md-3" *ngFor="let item of permissionList; let i = index">
                      <div class="position-relative form-group">

                      
                    <input type="checkbox" [id]="'checkbox-' + item.id" [value]="item.id" (change)="onCheckboxChange($event, item.id)">
                    <label class='ml-2' [for]="'checkbox-' + item.id">{{ item.permissionName }}</label>
                  </div>
                </div>
                <div
                class="text-danger"
                *ngIf="
                  addRoleForm.get('permission')?.invalid &&
                  (addRoleForm.get('permission')?.dirty ||
                    addRoleForm.get('permission')?.touched) &&
                  addRoleForm.get('permission')?.hasError('required')
                "
              >
                <span class="error">Permission is required</span>
              </div>
              </div>
               
                
              
            

            <div class="col-md-12">
              <div class="d-flex btn_form mt-3">
                <button type="submit" class="btn btn-primary mr-3">Save</button>
                <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- main content -->
  </div>
</div>
