<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    
    <div class="app-main__inner">
        
         <!-- main content -->
        <div class="main-card mb-3 card">
            <div class="card-header card-title">
                <h4 class="mb-0">Edit Campus</h4>
            </div>
            <form [formGroup]="editCampusForm" (ngSubmit)="submit()">
                <div class="card-body">
                    <div class="row">
                         <div class="col-md-4">
                             <div class="position-relative form-group">
                                 <label for="exampleEmail11" class="">Walk In Date</label>
                                 <input placeholder="Enter date" type="date" class="form-control" formControlName="walkInDate">
                             </div>
                         </div>
                         <div class="col-md-4">
                            <div class="position-relative form-group">
                                <label for="exampleEmail11" class="">Address 1</label>
                                <input placeholder="Enter address" type="text" class="form-control" formControlName="address1">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="position-relative form-group">
                                <label for="exampleEmail11" class="">Address 2</label>
                                <input placeholder="Enter address" type="text" class="form-control" formControlName="address2">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="position-relative form-group">
                                <label for="exampleEmail11" class="">Job Description</label>
                                <textarea class="form-control" placeholder="Job Description" rows="1" formControlName="jobDescription"></textarea>
                            </div>
                        </div>
                         
                         
                         <div class="col-md-4">
                             <div class="position-relative form-group">
                                 <label for="exampleEmail11" class="">Country</label>
                                 <select class="form-control" placeholder="Select Country" formControlName="countryId" (ngModelChange)="onCountrySelected($event)">
                                     <option value="">Select Country</option>
                                     <option *ngFor="let country of countryInfoList" [value]="country.countryId"  [attr.selected]="country.countryId === 103 ? true : null" >{{country.countryName}}</option>
                                 </select>                                
                             </div>
                         </div>
                         <div class="col-md-4">
                             <div class="position-relative form-group">
                                 <label for="exampleEmail11" class="">State</label>
                                 <select class="form-control" placeholder="Select State" formControlName="stateId" (ngModelChange)="onStateSelected($event)">
                                     <option value="">Select State</option>
                                     <option *ngFor="let state of stateInfoList" [value]="state.stateId">{{state.stateName}}</option>
                                 </select>                                
                             </div>
                         </div>
                         <div class="col-md-4">
                             <div class="position-relative form-group">
                                 <label for="exampleEmail11" class="">City</label>
                                 <select class="form-control" placeholder="Select City" formControlName="city">
                                     <option value="">Select City</option>
                                     <option *ngFor="let city of cityInfoList" [value]="city.cityName">{{city.cityName}}</option>
                                    </select>                                
                             </div>
                         </div> 
                         <div class="col-md-4">
                            <div class="position-relative form-group">
                                <label for="exampleEmail11" class="">Title</label>
                                <input placeholder="Title" type="text" class="form-control" formControlName="title">
                            </div>
                        </div>
                         <div class="col-md-4">
                            <div class="position-relative form-group">
                                <label for="exampleEmail11" className="">Add College</label>
                                <select class="form-select form-control mr-4" placeholder="Select College" formControlName="selectedCollegeId">
                                    <option value="">Select College</option>
                                    <option *ngFor="let college of collegeList" [value]="college.collegeId">{{college.collegeName}}</option>
                                </select> 
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="position-relative form-group">
                                <label for="exampleEmail11" className=""></label>
                                <button type='button' class="btn btn-primary mt-4" (click)="addCollegeData()">Add</button>
                            </div>
                        </div>
                        <table class="table" >
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">College Name</th>
                                    <th scope="col">College Code</th>
                                    <th scope="col">Exam Start Time</th>
                                    <th scope="col">Exam End Time</th>
                                    <th scope="col">Start Date</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody formArrayName="colleges" *ngIf="collegeArray">
                                <ng-container *ngFor="let college of collegeArray.controls; let i=index" [formGroupName]="i">
                                <tr>
                                    <th scope="row">{{ i + 1 }}</th>
                                    <td><input type="text" formControlName="collegeName"></td>
                                    <td><input type="text" formControlName="collegeCode"></td>
                                    <td><input type="time" formControlName="examStartTime"></td>
                                    <td><input type="time" formControlName="examEndTime"></td>
                                    <td><input type="date" formControlName="startDateTime"></td>
                                    <td><button type="button" class="btn btn-danger" (click)="removeCollege(i)">Remove</button></td>
                                </tr>
                            </ng-container>
                            </tbody>
                        </table>
                         <div class="col-md-12">
                             <div class="d-flex btn_form mt-3">
                                 <button type="submit" class="btn btn-primary mr-3">Save</button>
                                 <button type="button" (click)="cancel()" class="btn btn-secondary">Cancel</button>
                             </div>
                         </div>
                     </div>
                 </div>
            </form>
           
        </div>
        <!-- main content -->
    </div>

</div>



