<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading d-flex justify-content-between">
                <div> Applicant
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main-card mb-3 card">
    <div class="card-header card-title">
        <h4 class="mb-0">Add Applicant</h4>
    </div>
    <div class="card-body">
        <form [formGroup]="addApplicantForm" (ngSubmit)="submit()">
            <div class="row">
                    <div class="col-md-4">
                        <div class="position-relative form-group">
                            <label for="exampleEmail11" class="required">First Name</label>
                            <input placeholder="First Name" type="text" class="form-control" name="firstName" formControlName="firstName"/>
                        </div>
                        <div
                            class="text-danger"
                            *ngIf="
                            addApplicantForm.get('firstName')?.invalid &&
                            (addApplicantForm.get('firstName')?.dirty ||
                                addApplicantForm.get('firstName')?.touched) &&
                            addApplicantForm.get('firstName')?.hasError('required')
                            "
                        >
                            <span class="error">First Name is required</span>
                        </div>
                        <div
                            class="text-danger"
                            *ngIf="addApplicantForm.get('firstName')?.hasError('maxlength')"
                        >
                            <span class="error">Maximum allowed length is 15</span>
                        </div>
                        <div
                            class="text-danger"
                            *ngIf="addApplicantForm.get('firstName')?.hasError('minlength')"
                        >
                            <span class="error">Minimum required words are 2</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="position-relative form-group">
                            <label for="exampleEmail11" class="required">Last Name</label>
                            <input placeholder="Last Name" type="text" class="form-control" name="lastName" formControlName="lastName"/>
                        </div>
                        <div
                            class="text-danger"
                            *ngIf="
                            addApplicantForm.get('lastName')?.invalid &&
                            (addApplicantForm.get('lastName')?.dirty ||
                                addApplicantForm.get('lastName')?.touched) &&
                            addApplicantForm.get('lastName')?.hasError('required')
                            "
                        >
                            <span class="error">First Name is required</span>
                        </div>
                        <div
                            class="text-danger"
                            *ngIf="addApplicantForm.get('lastName')?.hasError('maxlength')"
                        >
                            <span class="error">Maximum allowed length is 15</span>
                        </div>
                        <div
                            class="text-danger"
                            *ngIf="addApplicantForm.get('lastName')?.hasError('minlength')"
                        >
                            <span class="error">Minimum required words are 2</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="position-relative form-group">
                            <label for="exampleEmail11" class="required">Email</label>
                            <input placeholder="Email address" type="text" class="form-control" name="emailAddress" formControlName="emailAddress"/>
                        </div>
                        <div
                        class="text-danger"
                        *ngIf="
                        addApplicantForm.get('emailAddress')?.invalid &&
                        (addApplicantForm.get('emailAddress')?.dirty ||
                            addApplicantForm.get('emailAddress')?.touched) &&
                        addApplicantForm.get('emailAddress')?.hasError('required')
                        "
                    >
                        <span class="error">Email is required</span>
                    </div>
                    <div
                        class="text-danger"
                        *ngIf="addApplicantForm.get('emailAddress')?.hasError('email')"
                    >
                        <span class="error">Provide a correct email</span>
                    </div>
                    </div>
                    <div class="col-md-4">
                        <div class="position-relative form-group">
                            <label for="exampleEmail11" class="required">Phone Number</label>
                            <input placeholder="Phone" type="text" class="form-control" name="phone" formControlName="phoneNumber"/>
                        </div>
                        <div
                            class="text-danger"
                            *ngIf="
                            addApplicantForm.get('phoneNumber')?.invalid &&
                            (addApplicantForm.get('phoneNumber')?.dirty ||
                                addApplicantForm.get('phoneNumber')?.touched) &&
                            addApplicantForm.get('phoneNumber')?.hasError('required')
                            "
                        >
                            <span class="error">Phone Number is required</span>
                        </div>
                        <div
                            class="text-danger"
                            *ngIf="addApplicantForm.get('phoneNumber')?.hasError('maxlength')"
                        >
                            <span class="error">Maximum allowed length is 10</span>
                        </div>
                        <div
                            class="text-danger"
                            *ngIf="addApplicantForm.get('phoneNumber')?.hasError('minlength')"
                        >
                            <span class="error">Minimum 10 number required</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="position-relative form-group">
                            <label for="exampleEmail11" class="required">College Name</label>
                            <input placeholder="College Name" type="text" class="form-control" name="collegeName" formControlName="collegeName"/>
                        </div>
                        <div
                            class="text-danger"
                            *ngIf="
                            addApplicantForm.get('collegeName')?.invalid &&
                            (addApplicantForm.get('collegeName')?.dirty ||
                                addApplicantForm.get('collegeName')?.touched) &&
                            addApplicantForm.get('collegeName')?.hasError('required')
                            "
                        >
                            <span class="error">College Name is required</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="position-relative form-group">
                            <label for="exampleEmail11" class="required">Highest Qualification</label>
                            <input placeholder="Highest Qualification" type="text" class="form-control" name="higestQualification" formControlName="higestQualification"/>
                        </div>
                        <div
                            class="text-danger"
                            *ngIf="
                            addApplicantForm.get('higestQualification')?.invalid &&
                            (addApplicantForm.get('higestQualification')?.dirty ||
                                addApplicantForm.get('higestQualification')?.touched) &&
                            addApplicantForm.get('higestQualification')?.hasError('required')
                            "
                        >
                            <span class="error">Highest Qualification is required</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="position-relative form-group">
                            <label for="exampleEmail11" class="required">Highest Qualification Percentage</label>
                            <input placeholder="Highest Qualification Percentage" type="number" class="form-control" name="higestQualificationPercentage" formControlName="higestQualificationPercentage"/>
                        </div>
                        <div
                            class="text-danger"
                            *ngIf="
                            addApplicantForm.get('higestQualificationPercentage')?.invalid &&
                            (addApplicantForm.get('higestQualificationPercentage')?.dirty ||
                                addApplicantForm.get('higestQualificationPercentage')?.touched) &&
                            addApplicantForm.get('higestQualificationPercentage')?.hasError('required')
                            "
                        >
                            <span class="error">Highes Qualification Percentage is required</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="position-relative form-group">
                            <label for="exampleEmail11" class="required">Metric Percentage</label>
                            <input placeholder="Metric Percentage" type="number" class="form-control" name="matricPercentage" formControlName="matricPercentage"/>
                        </div>
                        <div
                            class="text-danger"
                            *ngIf="
                            addApplicantForm.get('matricPercentage')?.invalid &&
                            (addApplicantForm.get('matricPercentage')?.dirty ||
                                addApplicantForm.get('matricPercentage')?.touched) &&
                            addApplicantForm.get('matricPercentage')?.hasError('required')
                            "
                        >
                            <span class="error">Metric Percentage is required</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="position-relative form-group">
                            <label for="exampleEmail11" class="required">Intermediate Percentage</label>
                            <input placeholder="Intermediate Percentage" type="number" class="form-control" name="intermediatePercentage" formControlName="intermediatePercentage"/>
                        </div>
                        <div
                            class="text-danger"
                            *ngIf="
                            addApplicantForm.get('intermediatePercentage')?.invalid &&
                            (addApplicantForm.get('intermediatePercentage')?.dirty ||
                                addApplicantForm.get('intermediatePercentage')?.touched) &&
                            addApplicantForm.get('intermediatePercentage')?.hasError('required')
                            "
                        >
                            <span class="error">Intermediate Percentage is required</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="position-relative form-group">
                            <label for="exampleEmail11" class="required">Skills</label>
                            <input placeholder="Skills" type="text" class="form-control" name="skills" formControlName="skills"/>
                        </div>
                        <div
                            class="text-danger"
                            *ngIf="
                            addApplicantForm.get('skills')?.invalid &&
                            (addApplicantForm.get('skills')?.dirty ||
                                addApplicantForm.get('skills')?.touched) &&
                            addApplicantForm.get('skills')?.hasError('required')
                            "
                        >
                            <span class="error">Skills is required</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="position-relative form-group">
                            <label for="exampleEmail11" class="required">Comment</label>
                            <input placeholder="Comment" type="text" class="form-control" name="comment" formControlName="comment"/>
                        </div>
                        <div
                            class="text-danger"
                            *ngIf="
                            addApplicantForm.get('comment')?.invalid &&
                            (addApplicantForm.get('comment')?.dirty ||
                                addApplicantForm.get('comment')?.touched) &&
                            addApplicantForm.get('comment')?.hasError('required')
                            "
                        >
                            <span class="error">Comment is required</span>
                        </div>
                    </div>
                    

                    <div class="col-md-12">
                        <div class="d-flex btn_form mt-3">
                            <button type="submit" class="btn btn-primary mr-3">Save</button>
                            <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
                        </div>
                    </div>
            </div>
        </form>
    </div>
</div> 