<div class="app-main__inner">
  <div class="main-card mb-3 card">
    <div class="card-header card-title">
      <h4 class="mb-0">Add Applicant</h4>
    </div>
    <div class="card-body">
      <form
        [formGroup]="addApplicantForm"
        (ngSubmit)="submit()"
        #myform="ngForm"
      >
        <div class="row">
          <div class="col-md-4">
            <div class="position-relative form-group">
              <label for="exampleEmail11" class="required">First Name<span aria-hidden="true" class="required2"> *</span></label>
              <input
                placeholder="First Name"
                type="text"
                class="form-control"
                name="firstName"
                formControlName="firstName"
              />
            </div>
            <div
              class="text-danger"
              *ngIf="
                (addApplicantForm.get('firstName')?.invalid &&
                  (addApplicantForm.get('firstName')?.dirty ||
                    addApplicantForm.get('firstName')?.touched)) ||
                (addApplicantForm.get('firstName')?.hasError('required') &&
                  myform.submitted)
              "
            >
              <span class="error">First Name is required</span>
            </div>
            <div
              class="text-danger"
              *ngIf="addApplicantForm.get('firstName')?.hasError('maxlength')"
            >
              <span class="error">Maximum allowed length is 15</span>
            </div>
            <div
              class="text-danger"
              *ngIf="addApplicantForm.get('firstName')?.hasError('minlength')"
            >
              <span class="error">Minimum required words are 2</span>
            </div>
            <div
              class="text-danger"
              *ngIf="addApplicantForm.get('firstName')?.hasError('pattern')"
            >
              <span class="error">Only Alphabets are allowed</span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="position-relative form-group">
              <label for="exampleEmail11" class="required">Last Name<span aria-hidden="true" class="required2"> *</span></label>
              <input
                placeholder="Last Name"
                type="text"
                class="form-control"
                name="lastName"
                formControlName="lastName"
              />
            </div>
            <div
              class="text-danger"
              *ngIf="
                (addApplicantForm.get('lastName')?.invalid &&
                  (addApplicantForm.get('lastName')?.dirty ||
                    addApplicantForm.get('lastName')?.touched)) ||
                (addApplicantForm.get('lastName')?.hasError('required') &&
                  myform.submitted)
              "
            >
              <span class="error">Last Name is required</span>
            </div>
            <div
              class="text-danger"
              *ngIf="addApplicantForm.get('lastName')?.hasError('maxlength')"
            >
              <span class="error">Maximum allowed length is 15</span>
            </div>
            <div
              class="text-danger"
              *ngIf="addApplicantForm.get('lastName')?.hasError('minlength')"
            >
              <span class="error">Minimum required words are 2</span>
            </div>
            <div
              class="text-danger"
              *ngIf="addApplicantForm.get('lastName')?.hasError('pattern')"
            >
              <span class="error">Only Alphabets are allowed</span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="position-relative form-group">
              <label for="exampleEmail11" class="required">Email<span aria-hidden="true" class="required2"> *</span></label>
              <input
                placeholder="Email address"
                type="text"
                class="form-control"
                name="emailAddress"
                formControlName="emailAddress"
              />
            </div>
            <div
              class="text-danger"
              *ngIf="
                (addApplicantForm.get('emailAddress')?.invalid &&
                  (addApplicantForm.get('emailAddress')?.dirty ||
                    addApplicantForm.get('emailAddress')?.touched)) ||
                (addApplicantForm.get('emailAddress')?.hasError('required') &&
                  myform.submitted)
              "
            >
              <span class="error">Email is required</span>
            </div>
            <div
              class="text-danger"
              *ngIf="addApplicantForm.get('emailAddress')?.hasError('pattern')"
            >
              <span class="error">Provide a correct email</span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="position-relative form-group">
              <label for="exampleEmail11" class="required">Phone Number<span aria-hidden="true" class="required2"> *</span></label>
              <input
                placeholder="Phone"
                type="text"
                class="form-control"
                name="phone"
                formControlName="phoneNumber"
              />
            </div>
            <div
              class="text-danger"
              *ngIf="
                (addApplicantForm.get('phoneNumber')?.invalid &&
                  (addApplicantForm.get('phoneNumber')?.dirty ||
                    addApplicantForm.get('phoneNumber')?.touched)) ||
                (addApplicantForm.get('phoneNumber')?.hasError('required') &&
                  myform.submitted)
              "
            >
              <span class="error">Phone Number is required</span>
            </div>
            <div
              class="text-danger"
              *ngIf="addApplicantForm.get('phoneNumber')?.hasError('pattern')"
            >
              <span class="error">Only Numbers are allowed</span>
            </div>
            
          </div>
          <div class="col-md-4">
            <div class="position-relative form-group">
              <label for="exampleEmail11" class="required">College Name<span aria-hidden="true" class="required2"> *</span></label>
              <select
                class="form-select form-control mr-4"
                placeholder="Select Company"
                formControlName="collegeId"
              >
                <option value="">Select College</option>
                <option
                  *ngFor="let college of collegeList"
                  [value]="college.collegeId"
                >
                  {{ college.collegeName }}
                </option>
              </select>
            </div>
            <div
              class="text-danger"
              *ngIf="
                (addApplicantForm.get('collegeId')?.invalid &&
                  (addApplicantForm.get('collegeId')?.dirty ||
                    addApplicantForm.get('collegeId')?.touched)) ||
                (addApplicantForm.get('collegeId')?.hasError('required') &&
                  myform.submitted)
              "
            >
              <span class="error">College Name is required</span>
            </div>
           
          </div>
          <div class="col-md-4">
            <div class="position-relative form-group">
              <label for="exampleEmail11" class="required"
                >Highest Qualification<span aria-hidden="true" class="required2"> *</span></label
              >
              <select
                class="form-select form-control mr-4"
                placeholder="Select Company"
                formControlName="highestQualification"
              >
                <option value="">Select Qualification</option>
                <option
                  *ngFor="let qual of qualificationList"
                  [value]="qual.qualId"
                >
                  {{ qual.qualName }}
                </option>
              </select>
            </div>
            <div
              class="text-danger"
              *ngIf="
                (addApplicantForm.get('highestQualification')?.invalid &&
                  (addApplicantForm.get('highestQualification')?.dirty ||
                    addApplicantForm.get('highestQualification')?.touched)) ||
                (addApplicantForm.get('highestQualification')?.hasError('required') &&
                  myform.submitted)
              "
            >
              <span class="error">Highest Qualification is required</span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="position-relative form-group">
              <label for="exampleEmail11" class="required"
                >Highest Qualification Percentage<span aria-hidden="true" class="required2"> *</span></label
              >
              <input
                placeholder="Highest Qualification Percentage"
                type="number"
                class="form-control"
                name="higestQualificationPercentage"
                formControlName="highestQualificationPercentage"
              />
            </div>
            <div
              class="text-danger"
              *ngIf="addApplicantForm.get('highestQualificationPercentage')?.hasError('max')"
            >
              <span class="error">Maximum Percentage Can be 100</span>
            </div>
            <div
              class="text-danger"
              *ngIf="
                (addApplicantForm.get('highestQualificationPercentage')?.invalid &&
                  (addApplicantForm.get('highestQualificationPercentage')?.dirty ||
                    addApplicantForm.get('highestQualificationPercentage')?.touched)) ||
                (addApplicantForm.get('highestQualificationPercentage')?.hasError('required') &&
                  myform.submitted)
              "
            >
              <span class="error"
                >Highest Qualification Percentage is required</span
              >
            </div>
            
          </div>
          <div class="col-md-4">
            <div class="position-relative form-group">
              <label for="exampleEmail11" class="required"
                >Metric Percentage<span aria-hidden="true" class="required2"> *</span></label
              >
              <input
                placeholder="Metric Percentage"
                type="number"
                class="form-control"
                name="matricPercentage"
                formControlName="matricPercentage"
              />
            </div>
            <div
              class="text-danger"
              *ngIf="addApplicantForm.get('matricPercentage')?.hasError('max')"
            >
              <span class="error">Maximum Percentage Can be 100</span>
            </div>
            <div
              class="text-danger"
              *ngIf="
                (addApplicantForm.get('matricPercentage')?.invalid &&
                  (addApplicantForm.get('matricPercentage')?.dirty ||
                    addApplicantForm.get('matricPercentage')?.touched)) ||
                (addApplicantForm.get('matricPercentage')?.hasError('required') &&
                  myform.submitted)
              "
            >
              <span class="error">Metric Percentage is required</span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="position-relative form-group">
              <label for="exampleEmail11" class="required"
                >Intermediate Percentage<span aria-hidden="true" class="required2"> *</span></label
              >
              <input
                placeholder="Intermediate Percentage"
                type="number"
                class="form-control"
                name="intermediatePercentage"
                formControlName="intermediatePercentage"
              />
            </div>
            <div
              class="text-danger"
              *ngIf="addApplicantForm.get('intermediatePercentage')?.hasError('max')"
            >
              <span class="error">Maximum Percentage Can be 100</span>
            </div>
            <div
              class="text-danger"
              *ngIf="
                (addApplicantForm.get('intermediatePercentage')?.invalid &&
                  (addApplicantForm.get('intermediatePercentage')?.dirty ||
                    addApplicantForm.get('intermediatePercentage')?.touched)) ||
                (addApplicantForm.get('intermediatePercentage')?.hasError('required') &&
                  myform.submitted)
              "
            >
              <span class="error">Intermediate Percentage is required</span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="position-relative form-group">
              <label for="exampleEmail11" class="required">Skills<span aria-hidden="true" class="required2"> *</span></label>
              <div formArrayName="skilltype">
                <ng-container *ngFor="let skill of skilltype.controls; let i=index" [formGroupName]="i">
                 
                    <input class="form-control" type="text" formControlName="skillName">
                    
                    <button (click)="removeSkill(i)">Remove</button>
                </ng-container>
                <button type="button" (click)="addSkill()">Add</button>
              </div>
            </div>
            <div
              class="text-danger"
              *ngIf="
                (addApplicantForm.get('skilltype')?.invalid &&
                  (addApplicantForm.get('skilltype')?.dirty ||
                    addApplicantForm.get('skilltype')?.touched)) ||
                (addApplicantForm.get('skilltype')?.hasError('required') &&
                  myform.submitted)
              "
            >
              <span class="error">Skills is required</span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="position-relative form-group">
              <label for="exampleEmail11" class="required">Comment</label>
              <input
                placeholder="Comment"
                type="text"
                class="form-control"
                name="comment"
                formControlName="comment"
              />
            </div>
            <div
              class="text-danger"
              *ngIf="addApplicantForm.get('comment')?.hasError('maxlength')"
            >
              <span class="error">Max 1000 characters are allowed</span>
            </div>
          </div>

          <div class="col-md-4">
            <div class="position-relative form-group">
              <label for="exampleEmail11" className="">Status<span aria-hidden="true" class="required2"> *</span></label>
              <select
                class="form-select form-control mr-4"
                placeholder="Select Select"
                formControlName="statusId"
              >
                <option value="">Select Status</option>
                <option
                  *ngFor="let status of statusList"
                  [value]="status.statusId"
                >
                  {{ status.statusName }}
                </option>
              </select>
            </div>
            <div
              class="text-danger"
              *ngIf="
                (addApplicantForm.get('statusId')?.invalid &&
                  (addApplicantForm.get('statusId')?.dirty ||
                    addApplicantForm.get('statusId')?.touched)) ||
                (addApplicantForm.get('statusId')?.hasError('required') &&
                  myform.submitted)
              "
            >
              <span class="error">Status is required</span>
            </div>
          </div>

          <div class="col-md-4">
            <div class="position-relative form-group">
              <label for="exampleEmail11" className="">Company<span aria-hidden="true" class="required2"> *</span></label>
              <select
                class="form-select form-control mr-4"
                placeholder="Select Company"
                formControlName="assignedToCompany"
              >
                <option value="">Select Company</option>
                <option
                  *ngFor="let company of companyList"
                  [value]="company.companyId"
                >
                  {{ company.companyName }}
                </option>
              </select>
            </div>
            <div
              class="text-danger"
              *ngIf="
                (addApplicantForm.get('assignedToCompany')?.invalid &&
                  (addApplicantForm.get('assignedToCompany')?.dirty ||
                    addApplicantForm.get('assignedToCompany')?.touched)) ||
                (addApplicantForm.get('assignedToCompany')?.hasError('required') &&
                  myform.submitted)
              "
            >
              <span class="error">Company is required</span>
            </div>
          </div>

          <div class="col-md-4" *ngIf="roleName == 'Admin'">
            <div class="position-relative form-group">
              <label for="exampleEmail11" class="required"
                >Client <span aria-hidden="true" class="required2">*</span></label
              >
              <select
                class="form-select form-control mr-4"
                placeholder="Select Company"
                formControlName="clientId"
              >
                <option value="">Select Client</option>
                <option
                  *ngFor="let client of clientList"
                  [value]="client.id"
                >
                  {{ client.name }}
                </option>
              </select>
            </div>
            <!-- <div
              class="text-danger"
              *ngIf="
                (addApplicantForm.get('clientId')?.invalid &&
                  (addApplicantForm.get('clientId')?.dirty ||
                    addApplicantForm.get('clientId')?.touched)) ||
                (addApplicantForm.get('clientId')?.hasError('required') &&
                  myform.submitted)
              "
            >
              <span class="error">Client is required</span>
            </div> -->
          </div>

          <div class="col-md-12">
            <div class="d-flex btn_form mt-3">
              <button type="submit" class="btn btn-primary mr-3">Save</button>
              <button
                type="button"
                class="btn btn-secondary"
                (click)="cancel()"
              >
                Cancel
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
