<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
  <div class="app-main__inner">
  
    <!-- main content -->
    <div class="main-card mb-3 card">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h5 class="card-title mb-0">Applicant</h5>
                <a routerLink="/admin/applicant/add" class="btn btn-primary btn_blue">Add New Applicant</a>
            </div>
            <div class="table-responsive">
              <div
            class="top_filter d-flex align-items-center justify-content-between py-0 mb-4"
          >
            <div class="rounded-pill form_custom_inner d-flex">
              <div class="input-group size position-relative">
                <input
                  type="text"
                  placeholder="Search here Name, College, Email, Phone"
                  class="form-control border-2"
                  name="search"
                  [(ngModel)]="searchTerm" (ngModelChange)="onSearch()" />
              </div>
            </div>
            <!-- <div class="rounded-pill form_custom_inner d-flex">
              <div
                class="input-group size position-relative"
                style="margin-right: 15px"
              >
                <select class="form-select form-control">
                  <option>All</option>
                  <option>Active</option>
                  <option>Inactive</option>
                </select>
              </div>
              
            </div> -->
          </div>
                <table class="mb-0 table table-striped">
                  <thead>
                    <tr>
                        <th>Applicant Name</th>
                        <th>College Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>Isactive</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                    <tbody>
                      <tr *ngFor="let applicant of applicantList">
                        <td>{{ applicant.firstName }} {{applicant.lastName}}</td>
                        <td>{{ applicant.collegeName }}</td>
                        <td>{{ applicant.emailAddress }}</td>
                        <td>{{ applicant.phoneNumber }}</td>
                        <td class="badge">
                            <a (click)="toggleActive(applicant.applicantID)"
                                [ngClass]="{ 'active-link': applicant.isActive, 'inactive-link': !applicant.isActive }">{{
                                    applicant.isActive ? 'Active' : 'Inactive' }}</a>
                        </td>
                        <td class="action_button text-right">
                            <a routerLink="/admin/applicant/edit/{{applicant.applicantID}}" class="edit"><i class="icofont-ui-edit"></i></a>
                            <a class="delete" (click)="deleteItem(applicant.applicantID)"><i class="icofont-ui-delete"></i></a>
                            
                            <a (click)="viewDetails(applicant.applicantID)" class="inactive"><i class="icofont-eye"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="d-flex justify-content-between p-2">
                  <ngb-pagination
                    [collectionSize]="collectionSize"
                    [(page)]="page"
                    [pageSize]="pageSize"
                    (pageChange)="getApplicantPage($event)"
                  >
                  </ngb-pagination>
                
                  <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="getCollectionPage()">
                    <option [ngValue]="10">10 items per page</option>
                    <option [ngValue]="20">20 items per page</option>
                    <option [ngValue]="25">25 items per page</option>
                  </select>
                </div>
            </div>

           
        </div>
    </div>
</div>
</div>

<ngx-spinner
  bdColor="rgba(51, 51, 51, 0.8)"
  size="default"
  type="ball-scale-circle"
>
  <p class="basic"></p>
</ngx-spinner>
