<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
  <div class="app-main__inner">
  <div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading d-flex justify-content-between">
            <div>Applicant
                <div class="page-title-subheading">This is an example dashboard created using
                    build-in elements and components.
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- main content -->
    <div class="main-card mb-3 card">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h5 class="card-title mb-0">Applicant</h5>
                <a routerLink="/admin/add-applicant" class="btn btn-primary btn_blue">Add New Applicant</a>
            </div>
            <div class="table-responsive">
              <div
            class="top_filter d-flex align-items-center justify-content-between py-0 mb-4"
          >
            <div class="rounded-pill form_custom_inner d-flex">
              <div class="input-group size position-relative">
                <input
                  type="text"
                  placeholder="Search here ..."
                  class="form-control border-2"
                  name="search"
                  value=""
                />
              </div>
              <button type="button" class="btn btn-success ml-2">Search</button>
            </div>
            <div class="rounded-pill form_custom_inner d-flex">
              <div
                class="input-group size position-relative"
                style="margin-right: 15px"
              >
                <select class="form-select form-control">
                  <option>All</option>
                  <option>Active</option>
                  <option>Inactive</option>
                </select>
              </div>
              <div class="input-group size position-relative">
                <select
                  class="form-select form-control"
                  aria-label="Default select example"
                >
                  <option>All</option>
                  <option *ngFor="let applicant of applicantList" [value]="applicant.applicantID">{{applicant.firstName}}</option>
                </select>
              </div>
            </div>
          </div>
                <table class="mb-0 table table-striped">
                  <thead>
                    <tr>
                        <th>Applicant Name</th>
                        <th>College Name</th>
                        <th>Email</th>
                        <th>Highest Qualification</th>
                        <th>Phone Number</th>
                        <th>Isactive</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                    <tbody>
                      <tr *ngFor="let applicant of applicantList">
                        <td>{{ applicant.firstName }}</td>
                        <td>{{ applicant.collegeName }}</td>
                        <td>{{ applicant.emailAddress }}</td>
                        <td>{{ applicant.higestQualification }}</td>
                        <td>{{ applicant.phoneNumber }}</td>
                        <td class="badge">
                            <a (click)="toggleActive(applicant)"
                                [ngClass]="{ 'active-link': applicant.isActive, 'inactive-link': !applicant.isActive }">{{
                                    applicant.isActive ? 'Active' : 'Inactive' }}</a>
                        </td>
                        <td class="action_button text-right">
                            <a routerLink="/admin/edit-applicant/{{applicant.applicantID}}" class="edit"><i class="icofont-ui-edit"></i></a>
                            <a class="delete" data-target="#delete_popup" data-toggle="modal"><i class="icofont-ui-delete"></i></a>
                            
                            <a href="#" class="inactive" data-target="#view_client" data-toggle="modal"><i class="icofont-eye"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="mt-4">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                        </a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item active"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
            </div>
        </div>
    </div>
</div>
</div>


<!-- User Client -->
<div class="modal fade delete-popup" id="delete_popup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  <div class="modal-body">
    <div class="row">
        <div class="col-lg-12 col-md-12 justify-content-center text-center">
            <i class="icofont-close-line-circled close-icon"></i>
            <h3 class="mt-3">Are you sure?</h3>
            <p>Do you really want to delete these records? This process cannot be undone.</p>
        </div>
        <div class="col-lg-12 col-md-12">
            <div class="d-flex justify-content-center btn_form mt-3">
                <button type="button" class="btn btn-primary mr-3">Delete</button>
                <button type="button" class="btn btn-secondary">Cancel</button>
            </div>						
        </div>
    </div>
  </div>
</div>
</div>
</div>

<!-- User Details -->
<div class="modal fade" id="view_client" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog_550">
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Client Details</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body user_details">
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>#Id:</strong> 01</li>
        <li class="list-group-item"><strong>Name:</strong> Leanne Graham</li>
        <li class="list-group-item"><strong>Username:</strong> Graham</li>
        <li class="list-group-item"><strong>password:</strong> 123456</li>
        <li class="list-group-item"><strong>Email:</strong> leanne@gmail.com</li>
        <li class="list-group-item"><strong>Phone:</strong> +6489346345</li>
        <li class="list-group-item"><strong>Role:</strong> Student</li>
        <li class="list-group-item"><strong>Isactive:</strong> <span class="badge badge-success">Active</span></li>
        <li class="list-group-item"><strong>Created By:</strong> Ravi Sharma</li>
        <li class="list-group-item"><strong>Modified By:</strong> Mr. Anurag</li>
        <li class="list-group-item"><strong>Created Date:</strong> 13-07-2023</li>
        <li class="list-group-item"><strong>Modified date:</strong> 13-07-2023</li>
    </ul>
  </div>
</div>
</div>
</div>