<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
  <div class="app-main__inner">
  <div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading d-flex justify-content-between">
            <div>Applicant
                <div class="page-title-subheading">This is an example dashboard created using
                    build-in elements and components.
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- main content -->
    <div class="main-card mb-3 card">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h5 class="card-title mb-0">Applicant</h5>
                <a routerLink="/admin/add-applicant" class="btn btn-primary btn_blue">Add New Applicant</a>
            </div>
            <div class="table-responsive">
              <div
            class="top_filter d-flex align-items-center justify-content-between py-0 mb-4"
          >
            <div class="rounded-pill form_custom_inner d-flex">
              <div class="input-group size position-relative">
                <input
                  type="text"
                  placeholder="Search here ..."
                  class="form-control border-2"
                  name="search"
                  value=""
                />
              </div>
              <button type="button" class="btn btn-success ml-2">Search</button>
            </div>
            <div class="rounded-pill form_custom_inner d-flex">
              <div
                class="input-group size position-relative"
                style="margin-right: 15px"
              >
                <select class="form-select form-control">
                  <option>All</option>
                  <option>Active</option>
                  <option>Inactive</option>
                </select>
              </div>
              <div class="input-group size position-relative">
                <select
                  class="form-select form-control"
                  aria-label="Default select example"
                >
                  <option>All</option>
                  <option *ngFor="let applicant of applicantList" [value]="applicant.applicantID">{{applicant.firstName}}</option>
                </select>
              </div>
            </div>
          </div>
                <table class="mb-0 table table-striped">
                  <thead>
                    <tr>
                        <th>Applicant Name</th>
                        <th>College Name</th>
                        <th>Email</th>
                        <th>Highest Qualification</th>
                        <th>Phone Number</th>
                        <th>Isactive</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                    <tbody>
                      <tr *ngFor="let applicant of applicantList">
                        <td>{{ applicant.firstName }}</td>
                        <td>{{ applicant.collegeName }}</td>
                        <td>{{ applicant.emailAddress }}</td>
                        <td>{{ applicant.higestQualification }}</td>
                        <td>{{ applicant.phoneNumber }}</td>
                        <td class="badge">
                            <a (click)="toggleActive(applicant)"
                                [ngClass]="{ 'active-link': applicant.isActive, 'inactive-link': !applicant.isActive }">{{
                                    applicant.isActive ? 'Active' : 'Inactive' }}</a>
                        </td>
                        <td class="action_button text-right">
                            <a routerLink="/admin/edit-applicant/{{applicant.applicantID}}" class="edit"><i class="icofont-ui-edit"></i></a>
                            <a class="delete" (click)="deleteItem(applicant.applicantID)"><i class="icofont-ui-delete"></i></a>
                            
                            <a (click)="viewDetails(applicant.applicantID)" class="inactive"><i class="icofont-eye"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="mt-4">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                        </a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item active"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
            </div>
        </div>
    </div>
</div>
</div>

<ngx-spinner
  bdColor="rgba(51, 51, 51, 0.8)"
  size="default"
  type="ball-scale-circle"
>
  <p class="basic"></p>
</ngx-spinner>
