<div
  class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar"
>
  <div class="app-main__inner">
    <div class="app-page-title">
      <div class="page-title-wrapper">
        <div class="page-title-heading d-flex justify-content-between">
          <div>
            Clients
            <div class="page-title-subheading">
              This is an example dashboard created using build-in elements and
              components.
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- main content -->
    <div class="main-card mb-3 card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center mb-4">
          <h5 class="card-title mb-0">Clients</h5>
          <a routerLink="/admin/add-client" class="btn btn-primary btn_blue"
            >Add New Clients</a
          >
        </div>
        
        <div class="table-responsive">
            <div
          class="top_filter d-flex align-items-center justify-content-between py-0 mb-4"
        >
          <div class="rounded-pill form_custom_inner d-flex">
            <div class="input-group size position-relative">
              <input
                type="text"
                placeholder="Search here ..."
                class="form-control border-2"
                name="search"
                value=""
              />
            </div>
            <button type="button" class="btn btn-success ml-2">Search</button>
          </div>
          <div class="rounded-pill form_custom_inner d-flex">
            <div
              class="input-group size position-relative"
              style="margin-right: 15px"
            >
              <select class="form-select form-control">
                <option>All</option>
                <option>Active</option>
                <option>Inactive</option>
              </select>
            </div>
          </div>
        </div>
          <table class="mb-0 table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Subscription Plan</th>
                <th>Isactive</th>
                <th>Created Date</th>
                <th class="text-right">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let client of clientList">
                <td>{{ client.name }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.phone }}</td>
                <td>
                  Year <strong>{{ client.subscriptionPlan }}</strong>
                </td>
                <td class="badge">
                  
                  <a 
                    (click)="toggleActive(client)"
                    [ngClass]="{
                      'active-link': client.isActive,
                      'inactive-link': !client.isActive
                    }"
                    >{{ client.isActive ? "Active" : "Inactive" }}</a
                  >
                </td>
                <td>{{ client.createdDate | date }}</td>
                <td class="action_button text-right">
                  <a
                    routerLink="/admin/edit-client/{{client.id}}"
                    class="edit"
                    ><i class="icofont-ui-edit"></i
                  ></a>
                  <a  (click)="deleteItem(client.id)" class="delete"
                    ><i class="icofont-ui-delete"></i
                  ></a>
               
                  <a
                    (click)="viewDetails(client.id)"
                    class="inactive"
                    ><i class="icofont-eye"></i
                  ></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="mt-4">
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item active">
                <a class="page-link" href="#">2</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <!-- main content -->
  </div>
</div>

<ngx-spinner
  bdColor="rgba(51, 51, 51, 0.8)"
  size="default"
  type="ball-scale-circle"
>
  <p class="basic"></p>
</ngx-spinner>




