<div
  class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar"
>
  <div class="app-main__inner">
    <!-- main content -->
    <div class="main-card mb-3 card">
      <div class="card-header card-title">
        <h4 class="mb-0">Add New Question</h4>
      </div>
      <div class="card-body">
        <form
          [formGroup]="addQuestionForm"
          (ngSubmit)="submit()"
          #myform="ngForm"
        >
          <div class="row">
            <div class="col-md-4">
              <div class="position-relative form-group">
                <label for="exampleEmail11" class=""
                  >Question Type <span aria-hidden="true" class="required2"> *</span></label
                >
                <select
                  class="form-select form-control"
                  aria-label="Default select example"
                  formControlName="questionTypeId"
                >
                  <option value="" selected>--Choose--</option>
                  <option *ngFor="let type of questionTypeList" [value]="type.questionTypeId" >{{type.questionType1}}</option>
                </select>
              </div>
              <div
                class="text-danger"
                *ngIf="
                  (addQuestionForm.get('questionTypeId')?.invalid &&
                    (addQuestionForm.get('questionTypeId')?.dirty ||
                      addQuestionForm.get('questionTypeId')?.touched)) ||
                  (addQuestionForm
                    .get('questionTypeId')
                    ?.hasError('required') &&
                    myform.submitted)
                "
              >
                <span class="error">Question type is required</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="position-relative form-group">
                <label for="exampleEmail11" class=""
                  >Section <span aria-hidden="true" class="required2"> *</span></label
                >
                <select
                  class="form-select form-control"
                  aria-label="Default select example"
                  formControlName="sectionId"
                >
                  <option value="" selected>--Choose--</option>
                  <option
                    *ngFor="let section of sectionList"
                    [value]="section.sectionId"
                  >
                    {{ section.section1 }}
                  </option>
                </select>
              </div>
              <div
                class="text-danger"
                *ngIf="
                  (addQuestionForm.get('sectionId')?.invalid &&
                    (addQuestionForm.get('sectionId')?.dirty ||
                      addQuestionForm.get('sectionId')?.touched)) ||
                  (addQuestionForm.get('sectionId')?.hasError('required') &&
                    myform.submitted)
                "
              >
                <span class="error">Section is required</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="position-relative form-group">
                <label for="exampleEmail11" class="">Group<span aria-hidden="true" class="required2"> *</span></label>
                <select
                  class="form-select form-control"
                  aria-label="Default select example"
                  formControlName="groupId"
                >
                  <option value="" selected>--Choose--</option>
                  <option
                    *ngFor="let group of groupList"
                    [value]="group.groupId"
                  >
                    {{ group.groupName }}
                  </option>
                </select>
              </div>
              <div
                class="text-danger"
                *ngIf="
                  (addQuestionForm.get('groupId')?.invalid &&
                    (addQuestionForm.get('groupId')?.dirty ||
                      addQuestionForm.get('groupId')?.touched)) ||
                  (addQuestionForm.get('groupId')?.hasError('required') &&
                    myform.submitted)
                "
              >
                <span class="error">Group is required</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="position-relative form-group">
                <label for="exampleEmail11" class="">Marks<span aria-hidden="true" class="required2"> *</span></label>
                <input
                  placeholder="Marks"
                  type="number"
                  class="form-control"
                  formControlName="marks"
                />
              </div>
              <div
                class="text-danger"
                *ngIf="
                  (addQuestionForm.get('marks')?.invalid &&
                    (addQuestionForm.get('marks')?.dirty ||
                      addQuestionForm.get('marks')?.touched)) ||
                  (addQuestionForm.get('marks')?.hasError('required') &&
                    myform.submitted)
                "
              >
                <span class="error">Marks is required</span>
              </div>
            </div>
            <div class="col-md-12">
              <div class="position-relative form-group">
                <label for="exampleEmail11" class=""
                  >Question<span aria-hidden="true" class="required2"> *</span></label
                >
                <textarea
                  class="form-control"
                  placeholder="What is your question"
                  rows="1"
                  formControlName="Text"
                ></textarea>
              </div>
              <div
                class="text-danger"
                *ngIf="
                  (addQuestionForm.get('Text')?.invalid &&
                    (addQuestionForm.get('Text')?.dirty ||
                      addQuestionForm.get('Text')?.touched)) ||
                  (addQuestionForm.get('Text')?.hasError('required') &&
                    myform.submitted)
                "
              >
                <span class="error">Question is required</span>
              </div>
              <div
                class="text-danger"
                *ngIf="addQuestionForm.get('Text')?.hasError('maxlength')"
              >
                <span class="error">Maximum length is 1000</span>
              </div>
            </div>

            <div class="col-md-12">
              <div class="position-relative form-group">
                <div formArrayName="QuestionssoptionVm">
                  <label for="exampleEmail11" class="">Options<span aria-hidden="true" class="required2"> *</span></label>

                  <div
                    *ngFor="
                      let option of questionsOptionsArray.controls;
                      let i = index
                    "
                  >
                    <!-- Option fields -->
                    <div class="d-flex" [formGroupName]="i">
                      <input
                        type="text"
                        formControlName="optionText"
                        placeholder="Option Text"
                        class="form-control mt-2 col-md-4"
                      />
                      <input
                        type="file"
                        formControlName="imagepath"
                        placeholder="Image Path"
                        class="form-control mt-2 ml-2 col-md-4"
                      />
                      <input
                        type="checkbox"
                        formControlName="isCorrect"
                        class="m-2"
                      />
                    </div>
                  </div>
                </div>
                <div
                      class="text-danger"
                      *ngIf="
                        (addQuestionForm.get('QuestionssoptionVm')?.invalid &&
                          (addQuestionForm.get('QuestionssoptionVm')?.dirty ||
                            addQuestionForm.get('QuestionssoptionVm')?.touched)) ||
                        (addQuestionForm.get('QuestionssoptionVm')?.hasError('required') &&
                          myform.submitted)
                      "
                    >
                      <span class="error">Question Option is required</span>
                    </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="d-flex btn_form mt-3">
                <button type="submit" class="btn btn-primary mr-3">Save</button>
                <button
                  type="button"
                  (click)="cancel()"
                  class="btn btn-secondary"
                >
                  Cancel
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- main content -->
  </div>
</div>
